* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: ; */
}

.App {
  text-align: left;
  background-color: #282c34;
  color: #c5c5c5
}

.header {
  text-align: left;
  padding: 10px;
}

/* .titleBar {

} */

.link {
  color: #61dafb;
}